<!-- Begin: Prediction Groups Panel -->
<div class="panel panel-info">
    <!-- Panel 头部：标题居中显示 -->
    <div class="panel-heading" align="center">
      <h3 class="panel-title">Prediction Groups</h3>
    </div>
    <!-- Panel 内容：列表组 -->
    <div class="list-group">
      <!-- Begin: Yang Group -->
      <div class="list-group-item">
        <h4 class="post-title" itemprop="name headline">
          <a href="/group/2017/11/18/yang-group/" itemprop="url">Yang Group</a>
        </h4>
      </div>
      <!-- End: Yang Group -->
  
      <!-- Begin: Xiong Group -->
      <div class="list-group-item">
        <h4 class="post-title" itemprop="name headline">
          <a href="/group/2017/11/18/xiong-group/" itemprop="url">Xiong Group</a>
        </h4>
      </div>
      <!-- End: Xiong Group -->
  
      <!-- Begin: Perez Group -->
      <div class="list-group-item">
        <h4 class="post-title" itemprop="name headline">
          <a href="/group/2017/11/18/perez-group/" itemprop="url">Perez Group</a>
        </h4>
      </div>
      <!-- End: Perez Group -->
  
      <!-- Begin: Dokholyan Group -->
      <div class="list-group-item">
        <h4 class="post-title" itemprop="name headline">
          <a href="/group/2017/11/18/dokholyan-group-/" itemprop="url">Dokholyan Group</a>
        </h4>
      </div>
      <!-- End: Dokholyan Group -->
  
      <!-- Begin: Ding Group -->
      <div class="list-group-item">
        <h4 class="post-title" itemprop="name headline">
          <a href="/group/2017/11/18/ding-group/" itemprop="url">Ding Group</a>
        </h4>
      </div>
      <!-- End: Ding Group -->
  
      <!-- Begin: Das Group -->
      <div class="list-group-item">
        <h4 class="post-title" itemprop="name headline">
          <a href="/group/2017/11/18/das-group/" itemprop="url">Das Group</a>
        </h4>
      </div>
      <!-- End: Das Group -->
  
      <!-- Begin: Szachniuk Group (Formerly Adamiak) -->
      <div class="list-group-item">
        <h4 class="post-title" itemprop="name headline">
          <a href="/group/2017/11/18/Szachniuk-group/" itemprop="url">Szachniuk Group (Formerly Adamiak)</a>
        </h4>
      </div>
      <!-- End: Szachniuk Group -->
  
      <!-- Begin: SoutheRNA Group -->
      <div class="list-group-item">
        <h4 class="post-title" itemprop="name headline">
          <a href="/group/2017/11/18/SoutheRNA-group/" itemprop="url">SoutheRNA Group</a>
        </h4>
      </div>
      <!-- End: SoutheRNA Group -->
  
      <!-- Begin: LCBio Group -->
      <div class="list-group-item">
        <h4 class="post-title" itemprop="name headline">
          <a href="/group/2017/11/18/LCBio-group/" itemprop="url">LCBio Group</a>
        </h4>
      </div>
      <!-- End: LCBio Group -->
  
      <!-- Begin: Kollman Group -->
      <div class="list-group-item">
        <h4 class="post-title" itemprop="name headline">
          <a href="/group/2017/11/18/Kollman-group/" itemprop="url">Kollman Group</a>
        </h4>
      </div>
      <!-- End: Kollman Group -->
  
      <!-- Begin: Boniecki Group -->
      <div class="list-group-item">
        <h4 class="post-title" itemprop="name headline">
          <a href="/group/2017/11/18/Boniecki-group/" itemprop="url">Boniecki Group</a>
        </h4>
      </div>
      <!-- End: Boniecki Group -->
  
      <!-- Begin: YagoubAli Group -->
      <div class="list-group-item">
        <h4 class="post-title" itemprop="name headline">
          <a href="/group/2017/11/16/yagoubAli-group/" itemprop="url">YagoubAli Group</a>
        </h4>
      </div>
      <!-- End: YagoubAli Group -->
  
      <!-- Begin: Xiao Group -->
      <div class="list-group-item">
        <h4 class="post-title" itemprop="name headline">
          <a href="/group/2017/11/16/xiao-group/" itemprop="url">Xiao Group</a>
        </h4>
      </div>
      <!-- End: Xiao Group -->
  
      <!-- Begin: Adamiak Group -->
      <div class="list-group-item">
        <h4 class="post-title" itemprop="name headline">
          <a href="/group/2017/11/16/adamiak-group/" itemprop="url">Adamiak Group</a>
        </h4>
      </div>
      <!-- End: Adamiak Group -->
  
      <!-- Begin: Chen Group -->
      <div class="list-group-item">
        <h4 class="post-title" itemprop="name headline">
          <a href="/group/2017/11/16/chen-group/" itemprop="url">Chen Group</a>
        </h4>
      </div>
      <!-- End: Chen Group -->
  
      <!-- Begin: Bujnicki Group -->
      <div class="list-group-item">
        <h4 class="post-title" itemprop="name headline">
          <a href="/group/2017/11/16/bujnicki-group/" itemprop="url">Bujnicki Group</a>
        </h4>
      </div>
      <!-- End: Bujnicki Group -->
    </div>
  </div>
  <!-- End: Prediction Groups Panel -->
  