{% include style.html %}
<!-- 导航条容器：使用 Bootstrap 的 navbar 类，设置导航条扩展模式、深色主题以及内联样式 -->
<div class="navbar navbar-expand-lg navbar-dark" style="border-radius: 0; border: 0; background-color: #337ab7" role="navigation">
	<!-- 限制内容宽度为 1200px 的 fluid 容器 -->
	<div class="container-fluid" style="max-width: 1500px;">
		<!-- 导航头部：包含汉堡按钮和品牌链接 -->
		<div class="navbar-header">
			<!-- 响应式切换按钮（汉堡菜单）
			     当屏幕较小时，该按钮显示，点击后控制右侧所有链接、RSS 和搜索框的折叠/展开
			     为使按钮图标颜色与当前字体颜色（白色）一致，在 CSS 中设置 .navbar-toggle .icon-bar 的背景色 -->
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<!-- 品牌链接：使用 Flexbox 布局使品牌文字和 logo 分布在两侧 -->
			<a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/" style="display: flex; justify-content: space-between; align-items: center;">
				<b style="font-size: 32px; color: #eeeeee;">RNA-Puzzles</b>
				<img src="{{ site.url }}{{ site.baseurl }}/images/header/logo.jpg" style="height: 53px; margin-top: 0; margin-bottom: 0; padding: 0px; border-radius: 0;" alt="logo">
			</a>
		</div> <!-- end of .navbar-header -->

		<!-- 可折叠的导航菜单部分：包括多个页面链接、搜索框和 RSS 订阅按钮 -->
		<div class="collapse navbar-collapse" id="navbar-collapse-1">
			<!-- 右对齐的导航列表 -->
			<ul class="nav navbar-nav navbar-right">
				<!-- 页面链接 -->
				<li>
					<a class="nav-link-1" href="{{ site.url }}{{ site.baseurl }}/results">Results</a>
				</li>
				<li>
					<a class="nav-link-1" href="{{ site.url }}{{ site.baseurl }}/open-puzzle">Open Puzzles</a>
				</li>
				<li>
					<a class="nav-link-1" href="{{ site.url }}{{ site.baseurl }}/group">Groups</a>
				</li>
				<li>
					<a class="nav-link-1" href="{{ site.url }}{{ site.baseurl }}/publication">Publications</a>
				</li>
				<li>
					<a class="nav-link-1" href="https://chichaumiau.github.io/rnapuzzlestoolkit/">Resources</a>
				</li>
				<!-- 搜索框：
				     使用 form 表单，置于一个 <li> 内与其他链接同一行显示，
				     通过 position: relative; top: 2px; 实现向下偏移 2px，
				     同时保证输入框垂直居中 -->
				<li>
					<form class="navbar-form" role="search" action="/search" method="GET" style="margin: 0; padding: 0;">
						<div class="form-group">
							<input type="text" class="form-control" name="q" placeholder="search" style="color: #999; vertical-align: middle; position: relative; top: 9px;">
						</div>
					</form>
				</li>
				<!-- RSS 订阅按钮：
				     为避免上下空白，通过清除图片的默认 margin/padding，并设置 display: inline-block，
				     同时保持 vertical-align: middle 使其垂直居中 -->
				<li>
					<a class="subscribe-rss" href="/atom.xml" title="subscribe via RSS" style="line-height: 1;">
						<span class="visible-xs">RSS</span>
						<img class="hidden-xs" src="{{ root_url }}/images/header/rss.png" alt="RSS" style="vertical-align: middle; margin: 0; padding: 0; display: inline-block;">
					</a>
				</li>
			</ul>
		</div> <!-- end of .collapse .navbar-collapse -->
	</div> <!-- end of .container-fluid -->
</div> <!-- end of .navbar -->
