<!-- 初始化全尺寸 Molstar Viewer -->
<script type="text/javascript">
    var options1 = {
        customData: {
        //url: '/cifFiles/' + puzzlen + '/pdb/' + idParam + '.pdb',
        url: '/cifFiles/' + idParam + '.bcif',
        format: 'bcif',
        binary: true,
        },
        reactive: true, // 响应式设计
        sequencePanel: true, // 显示序列
        expanded: false,
        hideControls: true,
        bgColor: { r: 255, g: 255, b: 255 },

        selection: {
        data: [
        {
            auth_asym_id: 'X-Ray_structure_A',
            //start_residue_number: 1,
            //end_residue_number: 20,
            color: '#008000',  // GREEN: X-Ray structure;
        },
        {
            auth_asym_id: 'X-Ray_structure_B',
            color: '#008000',  // GREEN: X-Ray structure;
        },
        {
            auth_asym_id: 'X-Ray_structure_C',
            color: '#008000',  // GREEN: X-Ray structure;
        },
        {
            auth_asym_id: 'X-Ray_structure_D',
            color: '#008000',  // GREEN: X-Ray structure;
        },
        {
            auth_asym_id: 'X-Ray_structure_E',
            color: '#008000',  // GREEN: X-Ray structure;
        },
        {
            auth_asym_id: 'X-Ray_structure_F',
            color: '#008000',  // GREEN: X-Ray structure;
        },
        {
            auth_asym_id: 'X-Ray_structure_G',
            color: '#008000',  // GREEN: X-Ray structure;
        },
        {
            auth_asym_id: 'X-Ray_structure_H',
            color: '#008000',  // GREEN: X-Ray structure;
        },
        {
            auth_asym_id: 'X-Ray_structure_0',
            color: '#008000',  // GREEN: X-Ray structure;
        },
        {
            auth_asym_id: 'X-Ray_structure_1',
            color: '#008000',  // GREEN: X-Ray structure;
        },
        {
            auth_asym_id: 'X-Ray_structure_2',
            color: '#008000',  // GREEN: X-Ray structure;
        },
        {
            auth_asym_id: 'X-Ray_structure_3',
            color: '#008000',  // GREEN: X-Ray structure;
        },
        {
            auth_asym_id: 'X-Ray_structure_4',
            color: '#008000',  // GREEN: X-Ray structure;
        },
        {
            auth_asym_id: 'X-Ray_structure_5',
            color: '#008000',  // GREEN: X-Ray structure;
        },
        {
            auth_asym_id: 'X-Ray_structure_6',
            color: '#008000',  // GREEN: X-Ray structure;
        },
        {
            auth_asym_id: 'X-Ray_structure_7',
            color: '#008000',  // GREEN: X-Ray structure;
        },
        {
            auth_asym_id: 'X-Ray_structure_8',
            color: '#008000',  // GREEN: X-Ray structure;
        },
        {
            auth_asym_id: 'X-Ray_structure_9',
            color: '#008000',  // GREEN: X-Ray structure;
        },
        ],
           nonSelectedColor: '#0000ff', // BLUE: Proposed model
        },
    };
    var viewerContainer1 = document.getElementById('myViewer1');
    var viewerInstance1 = new PDBeMolstarPlugin();
    viewerInstance1.render(viewerContainer1, options1);
</script>

<!-- 初始化小尺寸 Molstar Viewer 预览，把controls统统删掉-->
<script type="text/javascript">
    var smallOptions = {
        customData: {
        //url: '/cifFiles/' + puzzlen + '/pdb/' + idParam + '.pdb',
        url: '/cifFiles/' + idParam + '.bcif',
        format: 'bcif',
        binary: true,
        },
        selection: {
        data: [
        {
            struct_asym_id: 'A',
            //start_residue_number: 1,
            //end_residue_number: 20,
            color: '#008000',  // GREEN: X-Ray structure;
        },
        {
            auth_asym_id: 'X-Ray_structure_B',
            color: '#008000',  // GREEN: X-Ray structure;
        },
        {
            auth_asym_id: 'X-Ray_structure_C',
            color: '#008000',  // GREEN: X-Ray structure;
        },
        {
            auth_asym_id: 'X-Ray_structure_D',
            color: '#008000',  // GREEN: X-Ray structure;
        },
        {
            auth_asym_id: 'X-Ray_structure_E',
            color: '#008000',  // GREEN: X-Ray structure;
        },
        {
            auth_asym_id: 'X-Ray_structure_F',
            color: '#008000',  // GREEN: X-Ray structure;
        },
        {
            auth_asym_id: 'X-Ray_structure_G',
            color: '#008000',  // GREEN: X-Ray structure;
        },
        {
            auth_asym_id: 'X-Ray_structure_H',
            color: '#008000',  // GREEN: X-Ray structure;
        },
        {
            auth_asym_id: 'X-Ray_structure_0',
            color: '#008000',  // GREEN: X-Ray structure;
        },
        {
            auth_asym_id: 'X-Ray_structure_1',
            color: '#008000',  // GREEN: X-Ray structure;
        },
        {
            auth_asym_id: 'X-Ray_structure_2',
            color: '#008000',  // GREEN: X-Ray structure;
        },
        {
            auth_asym_id: 'X-Ray_structure_3',
            color: '#008000',  // GREEN: X-Ray structure;
        },
        {
            auth_asym_id: 'X-Ray_structure_4',
            color: '#008000',  // GREEN: X-Ray structure;
        },
        {
            auth_asym_id: 'X-Ray_structure_5',
            color: '#008000',  // GREEN: X-Ray structure;
        },
        {
            auth_asym_id: 'X-Ray_structure_6',
            color: '#008000',  // GREEN: X-Ray structure;
        },
        {
            auth_asym_id: 'X-Ray_structure_7',
            color: '#008000',  // GREEN: X-Ray structure;
        },
        {
            auth_asym_id: 'X-Ray_structure_8',
            color: '#008000',  // GREEN: X-Ray structure;
        },
        {
            auth_asym_id: 'X-Ray_structure_9',
            color: '#008000',  // GREEN: X-Ray structure;
        },
        ],
           nonSelectedColor: '#0000ff', // BLUE: Proposed model
        },
        expanded: false,
        hideControls: true, selectInteraction: false, granularity: 'chain',
        hideCanvasControls: ['expand', 'selection', 'animation', 'controlToggle', 'controlInfo'],
        bgColor: { r: 255, g: 255, b: 255 }
    };
    var smallViewerContainer = document.getElementById('myViewer_small');
    var viewerInstanceSmall = new PDBeMolstarPlugin();
    viewerInstanceSmall.render(smallViewerContainer, smallOptions);
</script>