
<script src="/javascripts/sorttable.js"></script>
<script>
    window.onload = function() {
        // Optional: Decide if default sorting is still needed
        // (document.getElementsByTagName( 'th' )[1]).click();
    };
</script>
<br/>
<div class="table-container">
<div class="table-header">
Please click the column headers to sort data.
</div>
<div class="table-responsive">
<table class="sortable puzzle-table" border=1>
<thead>
<tr>
<th class="puzzle-id">Puzzle ID</th>
<th class="submission-date">Entry/Expiration</th>
<th class="pdb-id">PDB ID</th>
<th class="reference">Reference</th>
</tr>
</thead>
<tbody>
<tr>
<td class="puzzle-id"><a href='/results/2017/11/18/PZ1.html'>Puzzle 1</a></td>
<td class="submission-date"></td>
<td class="pdb-id"><a href='https://www.rcsb.org/structure/3mei' target='_blank'>3mei</a></td>
<td class="reference"><a href='http://www.ncbi.nlm.nih.gov/pubmed/21245530' target='_blank'>Acta Cryst. D, Biological Crystallography 67, 97-104.</a></td>
</tr>
<tr>
<td class="puzzle-id"><a href='/results/2017/11/18/PZ2.html'>Puzzle 2</a></td>
<td class="submission-date"></td>
<td class="pdb-id"><a href='https://www.rcsb.org/structure/3p59' target='_blank'>3p59</a></td>
<td class="reference"><a href='http://www.pnas.org/content/108/16/6405.short' target='_blank'>PNAS 108, 6405-6408.</a></td>
</tr>
<tr>
<td class="puzzle-id"><a href='/results/2017/11/18/PZ3.html'>Puzzle 3</a></td>
<td class="submission-date"></td>
<td class="pdb-id"><a href='https://www.rcsb.org/structure/3owz' target='_blank'>3owz</a></td>
<td class="reference"><a href='http://www.sciencedirect.com/science/article/pii/S1097276510008920' target='_blank'>Mol. Cell. 40, 774-786.</a></td>
</tr>
<tr>
<td class="puzzle-id"><a href='/results/2017/11/18/PZ4.html'>Puzzle 4</a></td>
<td class="submission-date"></td>
<td class="pdb-id"><a href='https://www.rcsb.org/structure/3v7e' target='_blank'>3v7e</a></td>
<td class="reference"><a href='http://rnajournal.cshlp.org/content/18/4/759.long' target='_blank'>RNA 18, 759-770.</a></td>
</tr>
<tr>
<td class="puzzle-id"><a href='/results/2017/11/18/PZ5.html'>Puzzle 5</a></td>
<td class="submission-date"></td>
<td class="pdb-id"><a href='https://www.rcsb.org/structure/4p9r' target='_blank'>4p9r</a></td>
<td class="reference"><a href='http://www.pnas.org/content/111/21/7659.long' target='_blank'>PNAS.111(21):7659-64.</a></td>
</tr>
<tr>
<td class="puzzle-id"><a href='/results/2017/11/18/PZ6.html'>Puzzle 6</a></td>
<td class="submission-date"></td>
<td class="pdb-id"><a href='https://www.rcsb.org/structure/4gxy' target='_blank'>4gxy</a></td>
<td class="reference"><a href='http://dx.doi.org/10.1038/nsmb.2405' target='_blank'>Nature Structural and Molecular Biology 19 (11), 1182-1184.</a></td>
</tr>
<tr>
<td class="puzzle-id"><a href='/results/2017/11/18/PZ7.html'>Puzzle 7</a></td>
<td class="submission-date"></td>
<td class="pdb-id"><a href='https://www.rcsb.org/structure/4r4v' target='_blank'>4r4v</a></td>
<td class="reference"><a href='http://www.nature.com/nchembio/journal/v11/n11/full/nchembio.1929.html' target='_blank'>Nature Chemical Biology 11, 840–846.</a></td>
</tr>
<tr>
<td class="puzzle-id"><a href='/results/2017/11/18/PZ8.html'>Puzzle 8</a></td>
<td class="submission-date"></td>
<td class="pdb-id"><a href='https://www.rcsb.org/structure/4l81' target='_blank'>4l81</a></td>
<td class="reference"><a href='http://www.pnas.org/content/111/18/6624.long' target='_blank'>PNAS.111(18):6624-9.</a></td>
</tr>
<tr>
<td class="puzzle-id"><a href='/results/2017/11/18/PZ9.html'>Puzzle 9</a></td>
<td class="submission-date"></td>
<td class="pdb-id"><a href='https://www.rcsb.org/structure/5kpy' target='_blank'>5kpy</a></td>
<td class="reference"><a href='https://www.nature.com/articles/nchembio.2278' target='_blank'>Nature Chemical Biology volume 13, pages 295–301 (2017)</a></td>
</tr>
<tr>
<td class="puzzle-id"><a href='/results/2017/11/18/PZ10.html'>Puzzle 10</a></td>
<td class="submission-date"></td>
<td class="pdb-id"><a href='https://www.rcsb.org/structure/4lck' target='_blank'>4lck</a></td>
<td class="reference"><a href='http://www.nature.com/nature/journal/v500/n7462/full/nature12440.html' target='_blank'>Nature 500, 363-366 (2013).</a></td>
</tr>
<tr>
<td class="puzzle-id"><a href='/results/2017/11/18/PZ11.html'>Puzzle 11</a></td>
<td class="submission-date">2014.06.15/07.15</td>
<td class="pdb-id"><a href='https://www.rcsb.org/structure/5lys' target='_blank'>5lys</a></td>
<td class="reference"><a href='https://academic.oup.com/nar/article/45/6/3568/2900188' target='_blank'>Nucleic Acids Res. 2017 Apr 7;45(6):3568-3579. doi: 10.1093/nar/gkw1351</a></td>
</tr>
<tr>
<td class="puzzle-id"><a href='/results/2017/11/18/PZ12.html'>Puzzle 12</a></td>
<td class="submission-date">2014.06.28/07.15</td>
<td class="pdb-id"><a href='https://www.rcsb.org/structure/4qlm' target='_blank'>4qlm</a></td>
<td class="reference"><a href='http://www.nature.com/nchembio/journal/v10/n9/full/nchembio.1606.html' target='_blank'>Nat Chem Biol. 10(9):780-6.</a></td>
</tr>
<tr>
<td class="puzzle-id"><a href='/results/2017/11/18/PZ13.html'>Puzzle 13</a></td>
<td class="submission-date">2014.04.27/05.31</td>
<td class="pdb-id"><a href='https://www.rcsb.org/structure/4xw7' target='_blank'>4xw7</a></td>
<td class="reference"><a href='http://www.sciencedirect.com/science/article/pii/S1074552115002331' target='_blank'>Chem Biol. 2015 Jul 23;22(7):829-37.</a></td>
</tr>
<tr>
<td class="puzzle-id"><a href='/results/2017/11/18/PZ14.html'>Puzzle 14</a></td>
<td class="submission-date">2015.08.10/08.31</td>
<td class="pdb-id"><a href='https://www.rcsb.org/structure/5ddo' target='_blank'>5ddo</a></td>
<td class="reference"><a href='http://www.cell.com/cell-reports/abstract/S2211-1247(15' target='_blank'>Cell Rep. 2015 Dec 1;13(9):1800-13.</a></td>
</tr>
<tr>
<td class="puzzle-id"><a href='/results/2017/11/18/PZ15.html'>Puzzle 15</a></td>
<td class="submission-date">2015.08.31/09.04</td>
<td class="pdb-id"><a href='https://www.rcsb.org/structure/5di4' target='_blank'>5di4</a></td>
<td class="reference"><a href='http://pubs.acs.org/doi/abs/10.1021/acs.biochem.5b01139' target='_blank'>Biochemistry, 2016, 55 (4), pp 633–636 DOI: 10.1021/acs.biochem.5b01139.</a></td>
</tr>
<tr>
<td class="puzzle-id"><a href='/results/2017/11/18/PZ16.html'>Puzzle 16</a></td>
<td class="submission-date">2015.10.07/11.07</td>
<td class="pdb-id"><a href='https://www.rcsb.org/structure/6y0y' target='_blank'>6y0y</a></td>
<td class="reference">To be published.</td>
</tr>
<tr>
<td class="puzzle-id"><a href='/results/2017/11/18/PZ17.html'>Puzzle 17</a></td>
<td class="submission-date">2016.06.06/07.05</td>
<td class="pdb-id"><a href='https://www.rcsb.org/structure/5k7c' target='_blank'>5k7c</a></td>
<td class="reference"><a href='http://www.nature.com/nchembio/journal/v12/n9/full/nchembio.2125.html' target='_blank'>Nature Chemical Biology 12, 702–708 (2016) doi:10.1038/nchembio.2125.</a></td>
</tr>
<tr>
<td class="puzzle-id"><a href='/results/2017/11/18/PZ18.html'>Puzzle 18</a></td>
<td class="submission-date">2016.10.24/11.10</td>
<td class="pdb-id"><a href='https://www.rcsb.org/structure/5tpy' target='_blank'>5tpy</a></td>
<td class="reference"><a href='http://science.sciencemag.org/content/early/2016/11/04/science.aah3963' target='_blank'>Science 354: 1148-1152. DOI: 10.1126/science.aah3963.</a></td>
</tr>
<tr>
<td class="puzzle-id"><a href='/results/2017/11/18/PZ19.html'>Puzzle 19</a></td>
<td class="submission-date">2016.10.24/11.10</td>
<td class="pdb-id"><a href='https://www.rcsb.org/structure/5t5a' target='_blank'>5t5a</a></td>
<td class="reference"><a href='https://www.nature.com/nchembio/journal/v13/n5/full/nchembio.2333.html' target='_blank'>Nature Chemical Biology 13, 508–513 (2017) doi:10.1038/nchembio.2333.</a></td>
</tr>
<tr>
<td class="puzzle-id"><a href='/results/2017/11/18/PZ20.html'>Puzzle 20</a></td>
<td class="submission-date">2017.05.17/06.14</td>
<td class="pdb-id"><a href='https://www.rcsb.org/structure/5y85' target='_blank'>5y85</a></td>
<td class="reference"><a href='https://www.nature.com/articles/s41467-017-01276-y' target='_blank'>(2017) Nat Commun 8: 1180-1180</a></td>
</tr>
<tr>
<td class="puzzle-id"><a href='/results/2017/11/18/PZ21.html'>Puzzle 21</a></td>
<td class="submission-date">2017.06.12/06.14</td>
<td class="pdb-id"><a href='https://www.rcsb.org/structure/5nwq' target='_blank'>5nwq</a></td>
<td class="reference"><a href='https://www.ncbi.nlm.nih.gov/pubmed/?term=28988949' target='_blank'>Cell Chem Biol. 2017 Nov 16;24(11):1407-1415.e2. doi: 10.1016/j.chembiol.2017.08.021. Epub 2017 Oct 5.</a></td>
</tr>
<tr>
<td class="puzzle-id"><a href='/results/2017/11/18/PZ22.html'>Puzzle 22</a></td>
<td class="submission-date">2018.11.19/12.10</td>
<td class="pdb-id"><a href='https://www.rcsb.org/structure/6jq5' target='_blank'>6jq5</a></td>
<td class="reference"><a href='https://www.ncbi.nlm.nih.gov/pubmed/?term=31088965' target='_blank'>Proc Natl Acad Sci U S A. 2019 May 28;116(22):10783-10791. doi: 10.1073/pnas.1902413116. Epub 2019 May 14.</a></td>
</tr>
<tr>
<td class="puzzle-id"><a href='/results/2017/11/18/PZ23.html'>Puzzle 23</a></td>
<td class="submission-date">2018.11.19/12.17</td>
<td class="pdb-id"><a href='https://www.rcsb.org/structure/6e8u' target='_blank'>6e8u</a></td>
<td class="reference"><a href='https://www.ncbi.nlm.nih.gov/pubmed/?term=30992561' target='_blank'>Nat Chem Biol. 2019 May;15(5):472-479. doi: 10.1038/s41589-019-0267-9. Epub 2019 Apr 15.</a></td>
</tr>
<tr>
<td class="puzzle-id"><a href='/results/2017/11/18/PZ24.html'>Puzzle 24</a></td>
<td class="submission-date">2019.05.20/06.10</td>
<td class="pdb-id"><a href='https://www.rcsb.org/structure/6ol3' target='_blank'>6ol3</a></td>
<td class="reference"><a href='https://www.nature.com/articles/s41467-019-10752-6' target='_blank'>Nature Communicationsvolume 10, Article number: 2871 (2019).</a></td>
</tr>
<tr>
<td class="puzzle-id"><a href='/results/2017/11/18/PZ25.html'>Puzzle 25</a></td>
<td class="submission-date">2018.11.19/12.10</td>
<td class="pdb-id"><a href='https://www.rcsb.org/structure/6p2h' target='_blank'>6p2h</a></td>
<td class="reference"><a href='https://www.ncbi.nlm.nih.gov/pubmed/?term=31598729' target='_blank'>Nucleic Acids Res. 2019 Nov 18;47(20):10931-10941. doi: 10.1093/nar/gkz839.</a></td>
</tr>
<tr>
<td class="puzzle-id"><a href='/results/2017/11/18/PZ26.html'>Puzzle 26</a></td>
<td class="submission-date">2019.10.21/11.11</td>
<td class="pdb-id"><a href='https://www.rcsb.org/structure/6pmo' target='_blank'>6pmo</a></td>
<td class="reference"><a href='https://www.ncbi.nlm.nih.gov/pubmed/?term=31740854' target='_blank'>Nat Struct Mol Biol. 2019 Dec;26(12):1094-1105. doi: 10.1038/s41594-019-0326-7. Epub 2019 Nov 18.</a></td>
</tr>
<tr>
<td class="puzzle-id"><a href='/results/2017/11/18/PZ27.html'>Puzzle 27</a></td>
<td class="submission-date">2019.10.21/11.11</td>
<td class="pdb-id"><a href='https://www.rcsb.org/structure/6pom' target='_blank'>6pom</a></td>
<td class="reference"><a href='https://www.ncbi.nlm.nih.gov/pubmed/?term=31740854' target='_blank'>Nat Struct Mol Biol. 2019 Dec;26(12):1094-1105. doi: 10.1038/s41594-019-0326-7. Epub 2019 Nov 18.</a></td>
</tr>
<tr>
<td class="puzzle-id"><a href='/results/2017/11/18/PZ28.html'>Puzzle 28</a></td>
<td class="submission-date">2019.10.28/11.18</td>
<td class="pdb-id"><a href='https://www.rcsb.org/structure/6ufm' target='_blank'>6ufm</a></td>
<td class="reference"><a href='https://www.ncbi.nlm.nih.gov/pubmed/?term=31792448' target='_blank'>Nat Struct Mol Biol. 2019 Dec;26(12):1114-1122. doi: 10.1038/s41594-019-0335-6. Epub 2019 Dec 2.</a></td>
</tr>
<tr>
<td class="puzzle-id"><a href='/results/2017/11/18/PZ29.html'>Puzzle 29</a></td>
<td class="submission-date">2020.03.25/04.14</td>
<td class="pdb-id"><a href='https://www.rcsb.org/structure/6tb7' target='_blank'>6tb7</a></td>
<td class="reference"><a href='https://www.ncbi.nlm.nih.gov/pubmed/?term=32295864' target='_blank'>RNA (2020) 26: 878-887</a></td>
</tr>
<tr>
<td class="puzzle-id"><a href='/results/2017/11/18/PZ30.html'>Puzzle 30</a></td>
<td class="submission-date">2021.04.12/05.03</td>
<td class="pdb-id"><a href='https://www.rcsb.org/structure/7bg9' target='_blank'>7bg9</a></td>
<td class="reference"><a href='https://www.ncbi.nlm.nih.gov/pubmed/?term=33883742' target='_blank'>Nature (2021) 593: 449-453</a></td>
</tr>
<tr>
<td class="puzzle-id"><a href='/results/2017/11/18/PZ31.html'>Puzzle 31</a></td>
<td class="submission-date">2021.04.28/05.19</td>
<td class="pdb-id"><a href='https://www.rcsb.org/structure/7mlx' target='_blank'>7mlx</a></td>
<td class="reference"><a href='https://www.ncbi.nlm.nih.gov/pubmed/?term=34328734' target='_blank'>ACS Chem Biol (2021) 16: 1469-1481</a></td>
</tr>
<tr>
<td class="puzzle-id"><a href='/results/2017/11/18/PZ32.html'>Puzzle 32</a></td>
<td class="submission-date">2021.05.10/05.31</td>
<td class="pdb-id"><a href='https://www.rcsb.org/structure/7eoj' target='_blank'>7eoj</a></td>
<td class="reference"><a href='https://www.ncbi.nlm.nih.gov/pubmed/?term=34725509' target='_blank'>Nat Chem Biol (2021) 17: 1289-1295</a></td>
</tr>
<tr>
<td class="puzzle-id"><a href='/results/2017/11/18/PZ33.html'>Puzzle 33</a></td>
<td class="submission-date">2021.05.12/06.02</td>
<td class="pdb-id"><a href='https://www.rcsb.org/structure/7elp' target='_blank'>7elp</a></td>
<td class="reference"><a href='https://www.ncbi.nlm.nih.gov/pubmed/?term=34125892' target='_blank'>Nucleic Acids Res (2021)</a></td>
</tr>
<tr>
<td class="puzzle-id"><a href='/results/2017/11/18/PZ34.html'>Puzzle 34</a></td>
<td class="submission-date">2022.01.19/02.09</td>
<td class="pdb-id"><a href='https://www.rcsb.org/structure/7v9e' target='_blank'>7v9e</a></td>
<td class="reference"><a href='https://pubmed.ncbi.nlm.nih.gov/35301479/' target='_blank'>Nat Chem Biol. (2022)</a></td>
</tr>
<tr>
<td class="puzzle-id"><a href='/results/2017/11/18/PZ35.html'>Puzzle 35</a></td>
<td class="submission-date">2022.04.29/05.20</td>
<td class="pdb-id"><a href='https://www.rcsb.org/structure/7qr4' target='_blank'>7qr4</a></td>
<td class="reference"><a href='https://doi.org/10.1101/2022.09.22.508989' target='_blank'>Biorxiv (2022)</a></td>
</tr>
<tr>
<td class="puzzle-id"><a href='/results/2017/11/18/PZ36.html'>Puzzle 36</a></td>
<td class="submission-date">2022.04.29/05.20</td>
<td class="pdb-id"><a href='https://www.rcsb.org/structure/7qr3' target='_blank'>7qr3</a></td>
<td class="reference"><a href='https://doi.org/10.1101/2022.09.22.508989' target='_blank'>Biorxiv (2022)</a></td>
</tr>
<tr>
<td class="puzzle-id"><a href='/results/2017/11/18/PZ37.html'>Puzzle 37</a></td>
<td class="submission-date">2022.10.20/11.10</td>
<td class="pdb-id"><a href='https://www.rcsb.org/structure/8gxc' target='_blank'>8gxc</a></td>
<td class="reference"><a href='https://pubmed.ncbi.nlm.nih.gov/36610789/' target='_blank'>Nucleic Acids Res 51: 54-67 (2023)</a></td>
</tr>
<tr>
<td class="puzzle-id"><a href='/results/2017/11/18/PZ38.html'>Puzzle 38</a></td>
<td class="submission-date">2022.11.30/12.21</td>
<td class="pdb-id"><a href='https://www.rcsb.org/structure/8hb8' target='_blank'>8hb8</a></td>
<td class="reference"><a href='https://pubmed.ncbi.nlm.nih.gov/36840714/' target='_blank'>Nucleic Acids Res 51: 2904-2914 (2023)</a></td>
</tr>
<tr>
<td class="puzzle-id"><a href='/results/2017/11/18/PZ39.html'>Puzzle 39</a></td>
<td class="submission-date">2023.01.18/02.08</td>
<td class="pdb-id"><a href='https://www.rcsb.org/structure/8dp3' target='_blank'>8dp3</a></td>
<td class="reference"><a href='https://pubmed.ncbi.nlm.nih.gov/37029118/' target='_blank'>Nat Commun 14: 1955-1955. (2023)</a></td>
</tr>
<tr>
<td class="puzzle-id">Puzzle 40</td>
<td class="submission-date">2023.04.11/05.02</td>
<td class="pdb-id"></td>
<td class="reference"></td>
</tr>
<tr>
<td class="puzzle-id">Puzzle 41</td>
<td class="submission-date">2023.08.09/09.20</td>
<td class="pdb-id"></td>
<td class="reference"></td>
</tr>
<tr>
<td class="puzzle-id">Puzzle 42</td>
<td class="submission-date">2023.08.09/09.20</td>
<td class="pdb-id"></td>
<td class="reference"></td>
</tr>
<tr>
<td class="puzzle-id">Puzzle 43</td>
<td class="submission-date">2024.03.21/04.11</td>
<td class="pdb-id"></td>
<td class="reference"></td>
</tr>
<tr>
<td class="puzzle-id">Puzzle 44</td>
<td class="submission-date">2024.03.22/04.12</td>
<td class="pdb-id"></td>
<td class="reference"></td>
</tr>
<tr>
<td class="puzzle-id">Puzzle 45</td>
<td class="submission-date">2024.04.05/04.26</td>
<td class="pdb-id"></td>
<td class="reference"></td>
</tr>
<tr>
<td class="puzzle-id">Puzzle 46</td>
<td class="submission-date">2024.11.25/12.23</td>
<td class="pdb-id"></td>
<td class="reference"></td>
</tr>
<tr>
<td class="puzzle-id">Puzzle 47</td>
<td class="submission-date">2024.11.25/12.23</td>
<td class="pdb-id"></td>
<td class="reference"></td>
</tr>
<tr>
<td class="puzzle-id">Puzzle 48</td>
<td class="submission-date">2024.11.25/12.23</td>
<td class="pdb-id"></td>
<td class="reference"></td>
</tr>
<tr>
<td class="puzzle-id">Puzzle 49</td>
<td class="submission-date">2024.11.25/12.23</td>
<td class="pdb-id"></td>
<td class="reference"></td>
</tr>
<tr>
<td class="puzzle-id">Puzzle 50</td>
<td class="submission-date">2025.01.20/02.17</td>
<td class="pdb-id"></td>
<td class="reference"></td>
</tr>
<tr>
<td class="puzzle-id">Puzzle 51</td>
<td class="submission-date">2025.02.28/03.21</td>
<td class="pdb-id"></td>
<td class="reference"></td>
</tr>
<tr>
<td class="puzzle-id">Puzzle 52</td>
<td class="submission-date">2025.02.28/03.21</td>
<td class="pdb-id"></td>
<td class="reference"></td>
</tr>
<tr>
<td class="puzzle-id">Puzzle 53</td>
<td class="submission-date">2025.02.28/03.21</td>
<td class="pdb-id"></td>
<td class="reference"></td>
</tr>
<tr>
<td class="puzzle-id">Puzzle 54</td>
<td class="submission-date">2025.02.28/03.21</td>
<td class="pdb-id"></td>
<td class="reference"></td>
</tr>
<tr>
<td class="puzzle-id">Puzzle 55</td>
<td class="submission-date">2025.02.28/03.21</td>
<td class="pdb-id"></td>
<td class="reference"></td>
</tr>
<tr>
<td class="puzzle-id">Puzzle 56</td>
<td class="submission-date">2025.02.28/03.21</td>
<td class="pdb-id"></td>
<td class="reference"></td>
</tr>
<tr>
<td class="puzzle-id">Puzzle 57</td>
<td class="submission-date">2025.02.28/03.21</td>
<td class="pdb-id"></td>
<td class="reference"></td>
</tr>
<tr>
<td class="puzzle-id">Puzzle 58</td>
<td class="submission-date">2025.02.28/03.21</td>
<td class="pdb-id"></td>
<td class="reference"></td>
</tr>
<tr>
<td class="puzzle-id">Puzzle 59</td>
<td class="submission-date">2025.03.05/03.07</td>
<td class="pdb-id"></td>
<td class="reference"></td>
</tr>
<tr>
<td class="puzzle-id">Puzzle 60</td>
<td class="submission-date">2025.03.14/04.04</td>
<td class="pdb-id"></td>
<td class="reference"></td>
</tr>
<tr>
<td class="puzzle-id">Puzzle 61</td>
<td class="submission-date">2025.03.14/04.04</td>
<td class="pdb-id"></td>
<td class="reference"></td>
</tr>
<tr>
<td class="puzzle-id">Puzzle 62</td>
<td class="submission-date">2025.04.03/04.17</td>
<td class="pdb-id"></td>
<td class="reference"></td>
</tr>
</tbody>
</table>
</div>
</div>

<style>
/* Container for the entire table section */
.table-container {
  max-width: 100%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

/* Table header text */
.table-header {
  text-align: center;
  margin-bottom: 10px;
  font-size: 14px;
  color: #666;
}

/* Responsive container */
.table-responsive {
  overflow-x: auto; /* Allows horizontal scrolling if table is too wide */
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Base table styling */
.puzzle-table {
  width: 100%;
  border-collapse: collapse;
  /* Remove table-layout: fixed to allow auto layout */
  background-color: #fff;
  font-size: 14px;
}

/* Table header styling */
.puzzle-table thead th {
  background-color: #f0f0f0;
  color: #333;
  font-weight: bold;
  padding: 12px 10px; /* Increased padding */
  text-align: left;
  border: 1px solid #ddd;
  white-space: normal; /* Allow headers to wrap */
  vertical-align: bottom;
}

/* Add hover effect to headers */
.puzzle-table th:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

/* Table cell styling */
.puzzle-table td {
  padding: 8px 10px; /* Adjusted padding */
  border: 1px solid #ddd;
  vertical-align: top; /* Align content to the top */
  white-space: normal; /* Allow all cells to wrap */
  word-wrap: break-word; /* Break long words if necessary */
}

/* Alternating row colors */
.puzzle-table tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.puzzle-table tbody tr:hover {
  background-color: #f0f8ff;
}

/* Column-specific styling */
/* Set min-widths to ensure readability */
.puzzle-id {
  min-width: 100px;
  font-weight: bold;
  white-space: nowrap; /* Keep Puzzle ID on one line */
}

.submission-date {
  min-width: 130px;
  white-space: nowrap; /* Keep date on one line */
}

.pdb-id {
  min-width: 80px;
  white-space: nowrap; /* Keep PDB ID on one line */
}

/* Reference column styling for wrapping */
.reference {
  /* No specific width, let it take remaining space */
  hyphens: auto;
}

/* Link styling */
.puzzle-table a {
  color: #0066cc;
  text-decoration: none;
  /* Removed link-specific overflow/ellipsis */
}

.puzzle-table a:hover {
  text-decoration: underline;
  color: #004080;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .puzzle-table {
    font-size: 13px;
  }

  .puzzle-table th, .puzzle-table td {
    padding: 6px 5px; /* Adjusted padding */
  }

  .puzzle-id { min-width: 80px; }
  .submission-date { min-width: 110px; }
  .pdb-id { min-width: 60px; }

  .table-header {
    font-size: 12px;
  }
}
</style>

