<head>
    <!-- 开始：HEAD 部分 -->
    <meta charset="utf-8">
    <title>Group - RNA-Puzzles</title>
    <meta name="author" content="Chichau Miao">

    <!-- 移动设备优化相关 Meta 标签 -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- SEO 相关：Canonical URL、Favicon、RSS 订阅链接 -->
    <link rel="canonical" href="http://www.rnapuzzles.org/group/">
    <link href="/favicon.png" type="image/png" rel="icon">
    <link href="/atom.xml" rel="alternate" title="RNA-Puzzles" type="application/atom+xml">

    <!-- Open Graph / Twitter Meta 标签 -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.rnapuzzles.org/group/">
    <meta property="og:title" content="Group - RNA-Puzzles">
    
    <!-- 引入 jQuery -->
    <script src="/js/jquery-3.2.1.min.js"></script>

    <!-- 引入 CSS 文件 -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/stylish-portfolio.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//jpswalsh.github.io/academicons/css/academicons.css" rel="stylesheet">
    <link href="/stylesheets/screen.css" media="screen, projection, print" rel="stylesheet" type="text/css">
    <!-- 结束：HEAD 部分 -->
</head>