<script type="text/javascript">
    function toggle(mode) {
    if (mode === 'molstar') {
        // 显示大尺寸 Molstar Viewer 和小尺寸 Molstar 预览；
        // 不隐藏 PNG 预览区域（即保持其当前显示状态或强制显示为 block）
        document.getElementById('myViewer1').style.display = 'block';
        document.getElementById('layer_dp').style.display = 'none';
        document.getElementById('myViewer_small').style.display = 'block';
        document.getElementById('small_png').style.display = 'block';  // 保证 PNG 预览显示
} else if (mode === 'image') {
        // 隐藏大尺寸 Molstar Viewer 和小尺寸 Molstar 预览；
        // 显示 PNG 预览区域和小尺寸 PNG 预览
        document.getElementById('myViewer1').style.display = 'none';
        document.getElementById('layer_dp').style.display = 'block';
        //document.getElementById('myViewer_small').style.display = 'none';
        document.getElementById('small_png').style.display = 'block';
}
}
</script>
